@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model IEnumerable<NewsArticle>

@{
    Layout = null;
}

<ol class="list-unstyled news-list">
    @foreach (NewsArticle article in Model)
    {
        <li>
            <h4>@article.Title <small>(@article.CreatedOn.ToShortDateString())</small></h4>
            <p>@article.Text</p>
            <hr/>
        </li>
    }
</ol>