@model Merwer.Chronicle.Dungeoneering.Tracker.Models.Draft

@{
    ViewBag.Title = "New Dungeon Run";
}

@if(!ViewData.ModelState.IsValid)
{
    var errs = ViewData.ModelState.Values.Where(v => v.Errors.Any()).SelectMany(v => v.Errors);
    for (var index = 0; index < errs.Count(); index++)
    {
        var err = errs.ElementAt(index);
        Html.Raw("<p>" + err.ErrorMessage + "</p>");
    }
    @Html.ValidationMessage("Error");
}

@Html.Partial("_StartDraftForm", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
