@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Dungeoneering Tracker</div>
            <div class="panel-body">
                <p>
                    Welcome to the dungeoneering tracker. This is a tool that is built to help new or experienced dungeoneers maximize their dungeon depth in Chronicle: Runescape Legends.
                </p>
                <p>
                    The dungeoneering tracker lets users track their dungeon drafts and their matchups. Storing this data for future review, and to calculate individual and global user stats.
                </p>
                <p>
                    This tool was created to help the Chronicle community, and as such is completely <a href="https://github.com/Merwer/Dungeoneering">open source</a> and will always be free.
                </p>
                <p>
                    The rating of cards was created using the <a href="https://docs.google.com/spreadsheets/d/1Ktd5LScTKBEuYyFVDHZadV30fEsoqKyI-cIhILJoeB0/edit?usp=sharing">Chronicle Community Tier List</a>. This list was put together by some amazing members of the community and represents a lot of hard work and experience. This site would not have been possible without it.
                </p>
                <p>
                    <a href="http://rschronicle.com">Chronicle: Runescape Legends</a> is a registered trademark of <a href="http://www.jagex.com/">Jagex</a>, and all card images on this site are under their copyright.
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Alpha Info</div>
            <div class="panel-body">
                <div class="alert alert-info">Be aware: The card <em>images</em> are out of date, but the card data is accurate as of the last patch.</div>
                <p>
                    Welcome, and thank you for participating in the v1 Alpha test of the dungeoneering tool. This test is going to be the first real-world test of the system, but it is an alpha, so you need to keep a couple of things in mind when using it:
                </p>
                <p>
                    1) The site is hosted in Microsoft Azure's free tier hosting
                    <br />
                    This means that the site is 'put to sleep' if it is unused for 5 minutes. If you're the first to visit the site in the past 5 minutes, it will take a minute or two to 'wake up'.
                </p>
                <p>
                    2) All data may be wiped
                    <br />
                    I hope that I won't have to wipe the data, but it is a very distinct possibility that as bugs are addressed and features added, I will have to.
                </p>
                <p>
                    3) I need feedback
                    <br />
                    Without feedback, I can't improve the site. You can report issues directly to me at <a href="mailto:chronicle.dungeoneering@gmail.com">chronicle.dungeoneering@gmail.com</a>, or by creating an <a href="https://github.com/Merwer/Dungeoneering/issues">issue report</a> on github.
                </p>
                <p>
                    4) Alpha doesn't mean pretty
                    <br />
                    Not only am I not a designer by nature, this is an alpha. There are features that will be clunky, and will just plain look bad. Feel free to report these, and offer suggestions - but don't expect them to get addressed right away.
                </p>
                <p>
                    5) This is a side-project
                    <br />
                    I've got a real life and a family. Up until now, I've had about 5-10 hours to spend on this project per week, and I expect this trend to continue. I will do my best to address any critical problems that come up within the day.
                </p>
                <h4>Prospective Work</h4>
                <ul>
                    <li><a href="https://trello.com/b/iAhVhN5T/dungeoneering-backlog">Task Backlog</a></li>
                    <li><a href="https://trello.com/b/dOoESxF2/dungeoneering-v1-0-alpha">v1 Alpha Task List</a></li>
                    <li><a href="https://trello.com/b/aEGJSTtg/dungeoneering-v1-0-beta">v1 Beta Task List</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
