@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model bool
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <div class="well">
            @if (Model)
            {
                @Html.Partial("~/Views/Drafts/_StartDraftForm.cshtml", Archetype.Ariane)
            }
            else if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Go to your current draft", "Drafting", "Drafts", null, null)
            }
            else
            {
                @Html.ActionLink("Login to start a dungeon draft", "Login", "Account", null, null)
            }
        </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="collapse-toggle close fa fa-minus" data-toggle="collapse" data-target="#welcome-panel"></button>
                Welcome
            </div>
            <div class="panel-body collapse in" id="welcome-panel">
                <p>
                    Welcome to ChronicleCompass.com - your guide and logbook to the dungeons of <a href="http://rschronicle.com">Chronicle: Runescape Legends</a>.
                    Your personal compass is built to help new or experienced dungeoneers improve their drafts, and to provide useful statistical information to help guide you even deper into the dungeon.
                </p>
                <p>
                    ChronicleCompass.com was primarily built as a tool to improve the quality of a player's drafts.
                    When performing a draft, your compass presents you with a numerical value estimating the quality of the picks made available to you.
                    The system is still rudimentary, so we recommend that you take these numbers as a guide, and not as a hard-and-fast guarenteed best pick. Common sense should always prevail.
                    For example, even if you've already drawn 5 Ali Morrisanes, the system may still recommend you pick more. Chances are though, there are better options.
                </p>
                <p>
                    ChronicleCompass.com also provides users with a dungeon logbook which lets users track their previous dungeon drafts and matchups. Storing this data for future review, and to calculate individual and global user stats.
                    Once you've completed a draft, you can record your match-ups on the "My Dungeon Runs" page. Each match for a draft is recorded individually as well as the rewards if you win.
                    All of this information is then aggregated and used to generate personalized statistics for you and your dungeon runs. This data can be viewed on the "My Stats" page.
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Credits
                <button class="collapse-toggle collapse-panel close fa fa-plus" data-toggle="collapse" data-target="#credits-panel"></button>
            </div>
            <div class="panel-body collapse out" id="credits-panel">
                <p>
                    This tool was created to help the Chronicle community, and as such is completely <a href="https://github.com/Merwer/Dungeoneering">open source</a> and will always be free to use.
                </p>
                <p>
                    <a href="http://rschronicle.com">Chronicle: Runescape Legends</a> is a registered trademark of <a href="http://www.jagex.com/">Jagex</a>, and all card images on this site are under their copyright.
                </p>
                <p>
                    The rating of cards was created using the <a href="https://docs.google.com/spreadsheets/d/1Ktd5LScTKBEuYyFVDHZadV30fEsoqKyI-cIhILJoeB0/edit?usp=sharing">Chronicle Community Tier List</a>.
                    This list was put together by some amazing members of the community and represents a lot of hard work and experience. This site would not have been possible without it.
                </p>
                <h4>Community Card List Stream Links</h4>
                <ul class="multi-col-list">
                    <li><a href="https://www.twitch.tv/freaker_play">Freaker Play</a></li>
                    <li><a href="https://www.twitch.tv/frebbdekaka/">Frebbdekaka</a></li>
                    <li><a href="https://www.twitch.tv/friendsofalkharid">The Friends of Alkharid Podcast</a></li>
                    <li><a href="https://www.twitch.tv/glenn1wolves">Glenn</a></li>
                    <li><a href="https://www.twitch.tv/iarenubcake">iAreNubcake</a></li>
                    <li><a href="https://www.twitch.tv/interjectionvideos">Interjection</a></li>
                    <li><a href="https://www.twitch.tv/jaggerous">Jaggerous</a></li>
                    <li><a href="https://www.twitch.tv/musher93">Musher</a></li>
                    <li><a href="https://www.twitch.tv/ollywankwell">OllyWankWell</a></li>
                    <li><a href="https://www.twitch.tv/thisisryanneil">RyanN</a></li>
                    <li><a href="https://www.twitch.tv/snowwywolf">SnowwyWolf</a></li>
                    <li><a href="https://www.twitch.tv/tehunforgivenz">Unforgiven</a></li>
                    <li><a href="https://www.twitch.tv/wolf_rsc">Wolf</a></li>
                    <li><a href="https://www.twitch.tv/xalchs">Xalchs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Action("List", "News", null)
    </div>
</div>
