@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        This is the home page - it should probably have some content in it. It doesn't yet.

        <h3>Links</h3>
        <ul>
            <li><a href="https://trello.com/b/iAhVhN5T/dungeoneering-backlog">Task Backlog</a></li>
            <li><a href="https://trello.com/b/dOoESxF2/dungeoneering-v1-0-alpha">v1 Alpha Task List</a></li>
            <li><a href="https://trello.com/b/dOoESxF2/dungeoneering-v1-0-beta">v1 Beta Task List</a></li>
        </ul>
    </div>
</div>