html,
body {
    height: 100%;
    overflow-x: hidden;
}

#content {
    padding-top: 1em;
    min-height: 100%;
    height: auto !important; /* ie7 fix */
    height: 100%;
    padding-bottom: 4em; /* same size as footer height */
}

footer {
    position: relative;
    margin-top: -4em;
    height: 4em;
    clear:both;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-no-gutters {
  padding-right: 0;
  padding-left: 0;
}

.icon {
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 1em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.weapon {
    background-image: url(/Content/img/icons/weapon.png);
}

.attack {
    background-image: url(/Content/img/icons/attack.png);
}

.gold {
    background-image: url(/Content/img/icons/gold.png);
}

.health {
    background-image: url(/Content/img/icons/health.png);
}

.armour {
    background-image: url(/Content/img/icons/armour.png);
}

.table,
.table th {
    text-align: center;
}

/* Bootstrap override */
.table>tbody>tr>td {
    vertical-align: middle;
}

.rewards-container {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.rewards-container li:before {
    padding: 0 5px 0 0;
    vertical-align: -50%;
}

.rewards-container li {
    display: inline;
    padding: 0 0 5px 5px;
}

.reward-copper:before {
    content: url(/Content/img/icons/copper.png);
}

.reward-shards:before {
    content: url(/Content/img/icons/shard.png)
}

.reward-packs:before {
    content: url(/Content/img/icons/pack.png)
}

.class-transition {
    transition: all 0.5s ease;
}

.btn-legend-icon {
    padding: 0;
    opacity: 0.6;
}

.btn-legend-icon:hover {
    opacity: 1;
}

.legend-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
}

th .caption {
    display: block;
    opacity: .6;
    font-size: .75em;
}

tfoot {
    font-weight: bold;
}

@media (max-width: 768px) {
  .btn-group-responsive > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
}