.tiers {
    list-style: none;
    padding-left: 0;
    display: flex;
    overflow-x: auto;
}

.tier {
    flex-grow: 1;
    text-align: center;
    border: solid 1px;
}

.tier.tier-1 .header, 
.tier.tier-1 .card-score {
    background: linear-gradient(to bottom,rgba(calc(1 * 12 + 90),calc(1 * -22 + 230),0,.5), rgb(calc(1 * 12 + 90),calc(1 * -22 + 230),0))
}

.tier.tier-2 .header, 
.tier.tier-2 .card-score {
    background: linear-gradient(to bottom,rgba(calc(2 * 12 + 90),calc(2 * -22 + 230),0,.5), rgb(calc(2 * 12 + 90),calc(2 * -22 + 230),0))
}

.tier.tier-3 .header, 
.tier.tier-3 .card-score {
    background: linear-gradient(to bottom,rgba(calc(3 * 12 + 90),calc(3 * -22 + 230),0,.5), rgb(calc(3 * 12 + 90),calc(3 * -22 + 230),0))
}

.tier.tier-4 .header, 
.tier.tier-4 .card-score {
    background: linear-gradient(to bottom,rgba(calc(4 * 12 + 90),calc(4 * -22 + 230),0,.5), rgb(calc(4 * 12 + 90),calc(4 * -22 + 230),0))
}

.tier.tier-5 .header, 
.tier.tier-5 .card-score {
    background: linear-gradient(to bottom,rgba(calc(5 * 12 + 90),calc(5 * -22 + 230),0,.5), rgb(calc(5 * 12 + 90),calc(5 * -22 + 230),0))
}

.tier.tier-6 .header, 
.tier.tier-6 .card-score {
    background: linear-gradient(to bottom,rgba(calc(6 * 12 + 90),calc(6 * -22 + 230),0,.5), rgb(calc(6 * 12 + 90),calc(6 * -22 + 230),0))
}

.tier.tier-7 .header, 
.tier.tier-7 .card-score {
    background: linear-gradient(to bottom,rgba(calc(7 * 12 + 90),calc(7 * -22 + 230),0,.5), rgb(calc(7 * 12 + 90),calc(7 * -22 + 230),0))
}

.tier.tier-8 .header, 
.tier.tier-8 .card-score {
    background: linear-gradient(to bottom,rgba(calc(8 * 12 + 90),calc(8 * -22 + 230),0,.5), rgb(calc(8 * 12 + 90),calc(8 * -22 + 230),0))
}

.tier .header {
    font-size: large;
    font-weight: 700;
    padding-top: .75em;
    padding-bottom: .75em;
}

.tiered-cards {
    list-style: none;
    padding: 0;
}

.tiered-card {
    margin: 0;
}

.card.empty {
    content: '&nbsp';
}

.card {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    text-align: left;
    margin: 0;
}

.card-name {
    flex-grow: 1;
    order: 1;
    padding: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0.5em;
    min-width: 5em
}

.card-score {
    order: 2;
    padding: 0.5em;
    margin: 0;
    padding: 0.5em;
    min-width: 3em;
    min-height: 1.5em;
    text-align: center;
    border-left: dotted 1px;
}

.tier dl {
    border-bottom: dotted 1px;
}

.card.common > dt {
    font-weight: normal;
}

.card {
    background-color: blanchedalmond;
}

.card-tooltip {
    width: 200px;
}

.tooltip.in {
    opacity: 1;
}

.tooltip .tooltip-inner {
    background-color: transparent;
}

.tooltip .tooltip-arrow {
    display: none;
}