@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model ArchetypeMatch

<div>@Html.DisplayFor(m => m.WinRate)</div>
<div class="small">(@Html.DisplayFor(m => m.Wins)/@Html.DisplayFor(m => m.Matches))</div>
