@model Merwer.Chronicle.Dungeoneering.Tracker.Models.MatchRewardList

<ul class="rewards-container">
    <li class="reward-copper">@Model.Copper</li>
    <li class="reward-shards">@Model.Shards</li>
    <li class="reward-packs">@Model.Packs</li>
</ul>