@using Merwer.Chronicle.Dungeoneering.Tracker.Models;
@model MatchRewardList

<ul class="rewards-container">
    <li class="reward-copper">@(Model == null ? 0 : Model.Copper)</li>
    <li class="reward-shards">@(Model == null ? 0 : Model.Shards)</li>
    <li class="reward-packs">@(Model == null ? 0 : Model.Packs)</li>
</ul>