@using Merwer.Chronicle.Dungeoneering.Tracker.Models
@model GlobalStatsData
@{
    ViewBag.Title = "Global Stats";
}

<div class="row">
    <div class="col-xs-12">
        <p class="text-center">Data collected from <strong>@Model.Players</strong> players</p>

        @Html.DisplayForModel("MyStatsData")
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="text-center">Most common cards by class</p>

        @Html.DisplayFor(m => m.CardSelections)
    </div>
</div>