@using Merwer.Chronicle.Dungeoneering.Tracker.Models
@model GlobalStatsData
@{
    ViewBag.Title = "Global Stats";
}

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info">
            More stats to come
        </div>
        <p>Tracking <strong>@Model.Players</strong> players with <strong>@Model.Matches</strong> matches from <strong>@Model.Drafts</strong> drafts</p>
    </div>
</div>
