@{
    ViewBag.Title = "Global Stats";
}

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info">
            This is a placeholder for the Global Stats page
        </div>
    </div>
</div>
