@model Merwer.Chronicle.Dungeoneering.Tracker.Models.MyStatsData
@{
    ViewBag.Title = "My Stats";
}

<div class="row">
    <div class="col-xs-12">
         <div class="alert alert-info">
             This is a placeholder for the My Stats page
         </div>
        <div>
            @Html.DisplayForModel()
        </div>
    </div>
</div>
