@model Merwer.Chronicle.Dungeoneering.Tracker.Models.MyStatsData
@{
    ViewBag.Title = "My Stats";
}

<h2>My Stats</h2>

<div class="row">
    <div class="col-xs-12">
        <div>
            @Html.DisplayForModel()
        </div>
    </div>
</div>
